<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{url_for('home.static', filename="base.css")}}">
        {%block notebook_style%}{%endblock%}
    </head>
    <body>
        <header>
            <div id="header-1">MindCloud</div>
            <div id="header-2">
                <a href="home">Главная</a>
                <a href="notebook">Блокнот</a>
                <a href="help">Помощь</a>
            </div>

        </header>

        <div id="buttons">
            <div>{%block buttons%}{%endblock%}</div>
        </div>

        <div class="content-block">{%block content1%}{%endblock%}</div>
        <div class="content-block">{%block content2%}{%endblock%}</div>
    
    
    
    
    
    </body>



</html>