{% extends "base.html" %}

{%block notebook_style%}
<link rel="stylesheet" href="{{url_for('home.static', filename="notebook.css")}}">
{%endblock%}

{%block buttons%}
<div class="button-rule">
    <button>Создать</button>
    <button>Редактировать</button>
    <button>Открыть</button>
    <button>Удалить</button>
    
</div>
{%endblock%}


{%block content1%}
<div class="main-block">Окно ссылок</div>
{%endblock%}


{%block content2%}
<!-- <link rel="stylesheet" href="{{url_for('home.static', filename="notebook.css")}}"> -->

<div class="main-block">Это страница приложения</div>

{%endblock%}