{% extends "base.html" %}

{%block notebook_style%}
<link rel="stylesheet" href="{{url_for('home.static', filename="notebook.css")}}">
<!-- <script src="{{url_for('home.static', filename='notebook_script.js')}}"> -->

{%endblock%}

{%block buttons%}
<div class="button-rule">
    <button>Создать</button>
    <button>Редактировать</button>
    <button>Открыть</button>
    <button>Удалить</button>
    
</div>
{%endblock%}


{%block content1%}
<div class="main-block" id="view-links">Окно ссылок</div>
{%endblock%}





{%block content2%}

<div class="main-block" id="view-content">
    <form enctype="application/json" >
        <input name="name" id="name" value="Введите название">
        <textarea name="body" id="body" value="Какой-то текст"></textarea>
        <button>Сохранить</button>
    </form>
</div>

{%endblock%}


{%block modal_block%}
{%endblock%}