{% extends "base.html" %}




{%block notebook_style%}
<link rel="stylesheet" href="{{url_for('home.static', filename="notebook.css")}}">


{%endblock%}

{%block buttons%}
<div class="button-rule">
    <button id="create-stick" >Создать</button>
    <button id="get_one_stick" >Открыть</button>
    <button id="uddate-stick">Редактировать</button>
    <button id="get-stick">Открыть</button>
    <button id="delete-stick">Удалить</button>
    
</div>
{%endblock%}


{%block content1%}
<script src="{{url_for('home.static', filename="notebook_script.js")}}" onload = 'get_all_stick'></script>
<div class="main-block" id="view-links">Окно ссылок</div>
{%endblock%}





{%block content2%}

<div class="main-block" id="view-content">
    <form enctype="application/json" >
        <input name="name" id="name">
        <textarea name="body" id="body"></textarea>
        <button id = "save-stick" onclick = "save-stick">Сохранить</button>
    </form>
</div>

{%endblock%}


{%block modal_block%}
{%endblock%}