.content-block {
    color: red;
    font-size: 50px;
    margin: 20px;
    
}

#header-1 {
    background-color: rgb(111, 241, 181);
    color: royalblue;
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    }

#header-2{
    background-color: rgb(05,05,05);
    color:aliceblue;
    font-size: 14px;
}

a {
    color:blanchedalmond;
    font-size: 20px;
    text-decoration-line: none;
}

/*
#buttons {
     
}
*/